
/* For mobile */

:root {
    --main-bg-color: rgb(189, 234, 212);
    --main-border-color: #335e57;
    --main-margin: 5%;
    font-size: .35em;
  }
  
  html {
    overflow-y: scroll;
    background-color: var(--main-bg-color);
  }
  
  body {
    background-color: var(--main-bg-color);
    color: #010101;
    font-family: 'Maison Neue', sans-serif;
    margin: 0;
    background: url(src/Images/blackbg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h2 {
    margin-top: .25em;
    color:rgb(233, 66, 144);
  }
  
  .selected--component {

  }
  
  .App {
    background-color: var(--main-bg-color);
  }
  
  h1 {
    color: var(--main-border-color);
  }

  p {
    text-align: justify;
  }
  
  /* header */ 
  
  .header {
    display: flex;
    height: 4.5em;
    font-size: 0.9em;
    background-color: var(--main-bg-color);
    font-weight: 400;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
  }
  
  .header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
  }
  
  .header--link {
    border-bottom: 0.0625em solid transparent;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-size: 1.2em;
    transition: font-size 0.25s ease-in-out; 
    padding: 2.8em;
  }
  
  .header--link:hover div {
    border-bottom: 0.0625em solid var(--main-border-color);


  }

  .header--link.clicked div {

   border-bottom: rgb(206, 138, 199) solid 0.0825em;
  }
  
  
  /* header logo */ 
  
  .header--logo--container,
  .header--text--container {
    display: flex;
    align-items: center;
  }
  
  .header--logo--container {
    padding-left: var(--main-margin);
  }
  
  .header--text--container {
    padding-right: var(--main-margin);
  }
  
  .header--logotext--container {
    display: inline-flex;
    align-items: justify;
    font-size: 2em;
  }
  
  .logo--text--black {
    color: black;
    display: inline-block;
    align-items: center;
  }
  
  .logo--text--border {
    border-right: 0.13em solid var(--main-border-color);
    padding-right: 0.7em;
  }
  
  .padded {
    padding-left: 0.7em;
  }
  
  /* about */ 
  
  .about {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    margin-left: var(--main-margin);
    margin-top: 13em;
  }
  
  .about--container {
    padding-right: 2.7778%;
  }

  .about--button,
.about--button--spaced {
  color: var(--main-border-color);
  margin-top: 1.625em;
  font-family: 'Maison Neue', sans-serif;
  background-color: transparent;
  border: 0.08em solid black;
padding: 1.15em;
}

.about--button--spaced {
margin-left: var(--main-margin);
}

.pixelart {
image-rendering: pixelated;
height: 11.25em;
}

.about--image--container {
padding-left: 2.7778%;
margin-top: 15%;
display: flex;
flex-direction: column;
align-items: center;
margin-right: 30%;
}

.pixelart-text {
text-align: center;
}

.about--more {
text-align: left;
background-color: white;
padding-bottom: 3.125em;
}

.about--bottom--header {
text-align: left;
padding-left: var(--main-margin);
padding-top: 2em;
}

.about--text {
background-color: white;
margin-left: var(--main-margin);
margin-right: var(--main-margin);
text-align: justify;
}

/* portfolio */

.white--wrap {
    position: relative;
    overflow: hidden;
  }

.iframe {
margin-top: -10em;
transform: scale(0.5);
margin-left: -30em;
margin-bottom: -10em;
}

.p5sketch {
width: 80%;

border: none;
}

.portfolio--container {
margin-left: var(--main-margin);
margin-right: var(--main-margin);
}

.sketch--container {
overflow: hidden;
margin-top: 1.5625em;
}

.p {
text-align: justify;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */

  /* main */
:root {
    --main-bg-color: rgb(189, 234, 212);
    --main-border-color: #335e57;
    --main-margin: 15%;
    font-size: 1em;
  }
  
  html {
    overflow-y: scroll;
    background-color: var(--main-bg-color);
  }
  
  body {
    background-color: var(--main-bg-color);
    color: #010101;
    font-family: 'Maison Neue', sans-serif;
    margin: 0;
    background: url(src/Images/blackbg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
  
  .selected--component {

  }
  
  .App {
    background-color: var(--main-bg-color);
  }
  
  h1 {
    color: var(--main-border-color);
  }
  
  /* header */ 
  
  .header {
    display: flex;
    height: 4.5em;
    font-size: 0.9em;
    background-color: var(--main-bg-color);
    font-weight: 400;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
  }
  
  .header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
  }
  
  .header--link {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-size: 1.2em;
    transition: font-size 0.25s ease-in-out; 
    padding: 2.8em;
    border-bottom: 0.0625em solid transparent;
  }
  
  .header--link:hover div {
    border-bottom: 0.0625em solid var(--main-border-color);


  }

  .header--link.clicked div {

   border-bottom: rgb(206, 138, 199) solid 0.0825em;
  }
  
  /* header logo */ 
  
  .header--logo--container,
  .header--text--container {
    display: flex;
    align-items: center;
  }
  
  .header--logo--container {
    padding-left: var(--main-margin);
  }
  
  .header--text--container {
    padding-right: var(--main-margin);
  }
  
  .header--logotext--container {
    display: inline-flex;
    align-items: justify;
    font-size: 2em;
  }
  
  .logo--text--black {
    color: black;
    display: inline-block;
    align-items: center;
  }
  
  .logo--text--border {
    border-right: 0.13em solid var(--main-border-color);
    padding-right: 0.7em;
  }
  
  .padded {
    padding-left: 0.7em;
  }
  
  /* about */ 
  
  .about {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    margin-left: var(--main-margin);
    margin-top: 13em;
  }
  
  .about--container {
    padding-right: 2.7778%;
  }

  .about--button,
.about--button--spaced {
  color: var(--main-border-color);
  margin-top: 1.625em;
  font-family: 'Maison Neue', sans-serif;
  background-color: transparent;
  border: 0.08em solid black;
padding: 1.15em;
}

.about--button--spaced {
margin-left: var(--main-margin);
}

.pixelart {
image-rendering: pixelated;
height: 11.25em;
}

.about--image--container {
padding-left: 2.7778%;
margin-top: 15%;
display: flex;
flex-direction: column;
align-items: center;
margin-right: 30%;
}

.pixelart-text {
text-align: center;
}

.about--more {
text-align: justify;
background-color: white;
padding-bottom: 3.125em;
}

.about--bottom--header {
text-align: left;
padding-left: var(--main-margin);
padding-top: 2em;
}

.about--text {
background-color: white;
margin-left: var(--main-margin);
margin-right: var(--main-margin);
text-align: justify;
}

/* portfolio */

.iframe {
    transform: scale(1);
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 0;
    }

.p5sketch {
width: 80%;
height: 31.25em;
border: none;
}

.portfolio--container {
margin-top: 5em;
margin-left: var(--main-margin);
margin-right: var(--main-margin);
}


.sketch--container {
overflow: hidden;
margin-top: 1.5625em;
}

.p {
text-align: justify;
}

}